TRUST_OPS_PRODUCTION_SCRIPT_ID=REPLACE_WITH_PRODUCTION_SCRIPT_ID
TRUST_OPS_TESTING_SCRIPT_ID=REPLACE_WITH_TESTING_SCRIPT_ID
TRUST_OPS_WORKING_SCRIPT_ID=REPLACE_WITH_WORKING_SCRIPT_ID
GOOGLE_OAUTH_CLIENT_ID=REPLACE_WITH_GOOGLE_OAUTH_CLIENT_ID
TRUST_OPS_GITHUB_PAGES_AUTH_URL=REPLACE_WITH_GITHUB_PAGES_AUTH_URL
